<!doctype html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required /><br />
            <label for="password">Password:</label>
            <input
                type="password"
                id="password"
                name="password"
                required
            /><br />
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="user">User</option>
                <option value="store_manager">Store Manager</option>
            </select><br />
            <button type="submit">Register</button>
        </form>
    </body>
</html>
